* {
  margin: 0;
  padding: 0;
  box=sizing: border-box;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: end;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo__image {
  grid-column: 1/2;
}

.header__button {
  grid-column: 3/4;
  width: 115px;
  background: rgb(82, 34, 208);
  border-radius: 30px;
}

.header__logo {
  text-decoration: none;
}
